body {
    margin: 0%;
    padding: 0%;
    background: url(../img/fondo.jpg);
    background: #000000;
}

/* nav */
header {
    .encabezado {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;                
        .encabezado__imagen {
            padding: 5px;
            height: 80px;
            width: 80px;
        }
        .encabezado__texto {
            padding: 5px;
            font-family: 'Diplomata SC', cursive;
            font-size: 35px;
            color: #dfdfdf;
        }
    }
    .menu {
        .menu__lista {
            background-color: #000000;
            display: flex;
            justify-content: space-evenly;
            .menu__item {
                padding: 10px;
                list-style: none;
                :hover {
                    color: white;
                }                
                a {
                    padding: 10px;
                    text-decoration: none;
                    color: #dfdfdf;
                    font-family: 'Diplomata SC', cursive;
                    font-size: 18px;
                }
            }
        }
    }
}
/* footer */

.footer {
    margin-top: 50px;
    .footer__container {
        ul {
            display: flex;
            justify-content: center;
            li {
                list-style: none;
                a {
                    margin: 0 50px;
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }
    }
}

/* index */
.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    div {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/* quienes somos */
.biografia {
    display: flex;
    flex-direction: column;
    color: white;
    h2 {
        font-family: 'Diplomata SC', cursive;
        font-size: 30px;
        margin: 20px;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 75px;
        p {
            font-family: 'Noto Serif', serif;
            color: white;
            width: 45%;
            font-size: 20px;
            text-align: justify;
        }
        img {
            width: 45%;
        }
    }
}
.integrantes-2 {
    color: white;
    h3 {
        font-family: 'Diplomata SC', cursive;
        font-size: 20px;
        margin: 15px;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 0;
        p {
            font-family: 'Noto Serif', serif;
            color: white;
            width: 25%;
            font-size: 20px;
            text-align: justify;
        }
        img {
            width: 30%;
        }
    }
}
.integrantes {
    color: white;
    h3 {
        font-family: 'Diplomata SC', cursive;
        font-size: 20px;
        margin: 15px;
    }
    div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px 0;
        p {
            font-family: 'Noto Serif', serif;
            color: white;
            width: 25%;
            font-size: 17px;
            text-align: justify;
        }
        img {
            width: 30%;
        }
    }
}
/* fotos */
.grid {
    display: grid;
    grid-template-columns: auto;
    div {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/* videos */
.videos {
    div {
        p {
            color: white;
        }
        iframe {
            color: white;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
/* header */
    header {
        .encabezado {       
            .encabezado__imagen {
                height: 70px;
                width: 70px;
            }
            .encabezado__texto {
                font-size: 30px;
            }
        }
        .menu {
            .menu__lista {
                .menu__item {
                    a {
                        padding: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
/* footer */
    .footer {
        margin-top: 40px;
        .footer__container {
            ul {
                li {
                    a {
                        margin: 0 20px;
                        img {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
/* index */
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        div {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
/* quienes somos */
    .biografia {
        h2 {
            font-size: 22px;
            margin: 15px;
        }
        div {
            margin: 35px;
            p {
                width: 50%;
                font-size: 14px;
            }
            img {
                width: 40%;
            }
        }
    }
    .integrantes-2 {
        h3 {
            font-size: 17px;
            margin: 12px;
        }
        div {
            margin: 30px;
            p {
                width: 40%;
                font-size: 14px;
            }
            img {
                width: 30%;
            }
        }
    }
    .integrantes {
        h3 {
            font-size: 17px;
            margin: 12px;
        }
        div {
            margin: 30px;
            p {
                width: 40%;
                font-size: 14px;
            }
            img {
                width: 30%;
            }
        }
    }   
}